* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body , #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}



#layout-header {

    box-shadow: unset;

    #main-logo {
        height: 64px;
        margin-left: -10px;
    }

    .layout-header-link{
        
        text-transform: unset;
        
        &:hover{
            background-color: unset;
        }
    }
}


.drawer-link {
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.02857em;
    color: black;
    text-decoration: none;
}



#page-landing {

    .landing-section {
        padding: 50px 0;
    }

    #landing-section-banner {

        position: relative;
        height: calc(100vh - 60px);
        
        @media screen and (min-width: 1200px) {
            display: flex;
        }
        
        > div {
            position: absolute;
            width: 100%;
            height: calc(100vh - 165px);

            @media screen and (min-width: 1200px) {
                position: relative;
            }

        }

        #banner-text {

            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                display: flex;
                flex-direction: column;
                align-items: center;

                span:nth-child(1) {
                    font-size: 4rem;

                    @media screen and (min-width: 600px) {
                        font-size: 5rem;
                    }

                    @media screen and (min-width: 900px) {
                        font-size: 6rem;
                    }

                }

                span:nth-child(2) {
                    font-size: 2.5rem;

                    @media screen and (min-width: 600px) {
                        font-size: 3rem;
                    }

                    @media screen and (min-width: 900px) {
                        font-size: 3.5rem;
                    }
                }
            }

            p {
                text-align: center;
                font-size: 1rem;
                margin : 2rem 0;
                max-width: 600px;

                @media screen and (min-width: 600px) {
                    font-size: 1.2rem;
                }

                @media screen and (min-width: 900px) {
                    font-size: 1.3rem;
                }
            }

            button {
                h5 {
                    font-size: 1rem;

                    @media screen and (min-width: 600px) {
                        font-size: 1.3rem;
                    }

                    @media screen and (min-width: 900px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        #banner-img {
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.3;

            @media screen and (min-width: 1200px) {
                opacity: 1;
            }
        }
    }

    #landing-section-roundicons {

        @media screen and (min-width: 600px) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 1200px) {
            padding: 0 100px;
        }

        .roundicons-item {

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 5rem;

            @media screen and (min-width: 600px) {
                width: 50%;
            }

            @media screen and (min-width: 1000px) {
                width: 25%;
            }
                
            img {
                width: 50%;
            }

            p {
                @media screen and (min-width: 600px) {
                    width: 95%;
                }
            }
        }
    }


    #landing-section-how {

        @media screen and (min-width: 900px) {
            display: flex;
            padding: 0 100px;
        }

        > div {
        }

        #how-img {
            @media screen and (min-width: 900px) {
                width: 40%;
            } 
            
            @media screen and (min-width: 1200px) {
                width: 30%;
            } 
        }

        #how-text {

            text-align: center;
            display: flex;
            flex-direction: column;
            
            @media screen and (min-width: 900px) {
                width: 60%;
                text-align: left;
                padding-left: 50px;
                
                #how-text-first {
                    font-size: 1.2rem;
                }
            }
            
            @media screen and (min-width: 1200px) {
                width: 70%;
                padding-left: 100px;
            }


            #how-text-first , #how-text-second , #how-text-fourth {
                font-weight: 500;
            }

            #how-text-second , #how-text-fourth {
                margin-bottom: 1rem;
            }

            #how-text-third , #how-text-fifth {
                font-size: 1rem;

                @media screen and (min-width: 1000px) {
                    font-size: 1.3rem;
                    font-weight: 300;
                }
            }

            #how-icons {
                display: flex;
                justify-content: space-around;
                margin: 2rem 0;

                img {
                    width: 20%;
                    max-width: 120px;
                }

                @media screen and (min-width: 1000px) {
                    padding : 0 50px
                }

                @media screen and (min-width: 1200px) {
                    padding : 0 200px;
                    margin: 3rem 0;
                }

            }
        }
            
    }




    #landing-section-benefits {

        
    }
}